body {
    font-family: 'Inter', sans-serif;
    font-style: normal;

}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

@media screen and (max-width:767px) {
    .container {
        width: 336px;
        margin: 0 auto;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {}

@media screen and (min-width:768px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 1280px;
        margin: 0 auto;
    }
}