<section class=" hero-container container">
    <h1 class="hero-title title">Introducing Mobileapp</h1>
    <p class="hero-title-text">Maecenas vitae tellus sapien. Prasent</p>
    <ul class="hero-list list">
        <li class="hero-item">
            <p class="hero-text">> semper scelerisque tristique a enim</p>
        </li>
        <li class="hero-item">
            <p class="hero-text">> Integer ut mattis nulla, eget vehicula elit</p>
        </li>
        <li class="hero-item">
            <p class="hero-text">> Prasent rutrum ac nunc et</p>
        </li>
    </ul>
    <button class="hero-btn" type="button">Download</button>
    <ul class="hero-img list">
        <li>
            <div class="thumb1">
                <img src="./images/decor.png" alt="decor" width="472" />
            </div>
        </li>
        <li>
            <div class="thumb2">
                <img src="./images/decor_1.png" alt="decor_1" width="541" />
            </div>
        </li>
    </ul>
</section>