<header class="header-container container">
    <nav class=" nav-container">
        <a class="logo-link link" href="./index.html">Mobileapp</a>
        <ul class="header-list list">
            <li class="heder-item"><a class="header-link link" href="">Home</a></li>
            <li class="heder-item"><a class="header-link link" href="">Features</a></li>
            <li class="heder-item"><a class="header-link link" href="">Team</a></li>
            <li class="heder-item"><a class="header-link link" href="">Testimonials</a></li>
            <li class="heder-item"><a class="header-link link" href="">Contact</a></li>
        </ul>
    </nav>
</header>