<!-- <section class="feature-container container">
    <h2 class="feature-title title">KEY FEATURES</h2>
    <p class="feature-text text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit
        amet
        lectus non lacus
        sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
    <ul class="feature-list list">
        <li class="feature-item">
            <h3>Amet varius</h3>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                diam a iaculis malesuada</p>
        </li>
        <li class="feature-item">
            <h3>Amet varius</h3>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                diam a iaculis malesuada</p>
        </li>
        <li class="feature-item">
            <h3>Amet varius</h3>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                diam a iaculis malesuada</p>
        </li>
        <li class="feature-item">
            <h3>Amet varius</h3>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                diam a iaculis malesuada</p>
        </li>
        <li class="feature-item">
            <h3>Amet varius</h3>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                diam a iaculis malesuada</p>
        </li>
        <li class="feature-item">
            <h3>Amet varius</h3>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                diam a iaculis malesuada</p>
        </li>
    </ul>
    <div class="feature-tumb">
        <img src="./img/phone.png" alt="" width="396">
    </div>
</section> -->