.feature-container {
    position: relative;
    padding: 113px 152px 0 157px;
}

.feature-title {
    margin-bottom: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #000000;
}

.feature-text {
    margin-bottom: 138px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1/5;
    text-align: center;
    color: #000000;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 78px 492px
}

.feature-item {
    width: 220px;
}

.feature-tumb {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}